#set($title="修改头像 - 用户中心")
#set($navbar="user")
#set($userOperation="userface")
#set($user=$UserWebX.findSessionUser())
<div class="container">
	<div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
        	<li><a href="$ctx/user/center.htm">用户中心</a></li>
			<li>$!user.nickName</li>
			<li>修改头像</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="col-md-3">
        #parse("/user/inc/inc-function-list.vm")
    </div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading"><strong><i class="glyphicon glyphicon-camera"></i> 修改头像</strong></div>
			<div class="panel-body">
				<form role="form">
					#set($avatarUploadUrl="$ctx/user/userface.htm")
					<div class="col-md-12">
						<div class="form-group">
							<div class="text-center">
								<p id="avatar-swf-container">本组件需要安装Flash Player后才可使用，请从<a href="http://www.adobe.com/go/getflashplayer">这里</a>下载安装。</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-12">
						<div class="text-center">
							<button id="btn-upload-avatar" type="button" class="btn btn-info"><i class="glyphicon glyphicon-camera"></i> 上传保存头像</button>
                        </div>
                    </div>
				</form>
            </div>
        </div>
    </div>
</div>
#parse("/public/avatar-swf-upload.vm")