<div class="entry">
	<h4>${topic.title}</h4>
	<p class="meta">
		<i class="icon-calendar"></i> $DateUtils.toStringDW($topic.gmtModify)
		- <i class="icon-user"></i>老牛啊
		- <i class="icon-film"></i>${topic.visitCnt}
		- <i class="icon-comment"></i><a href="#respond">${topic.replyCnt}</a>
	</p>
	#foreach($image in $images)
	<div>
		<p>${image.summary}</p>
		<p><image src="$StaticXHelper.findImageURL(${image.url})" /></p>
	</div>
	#end
</div>