*.class

/.classpath

/.project

/.settings

/dist
/webapps

/logs
/target


/resources/main-resources

/WebRoot/albums

/dalgen/dalgen-mysql/logs
/dalgen/dalgen-mysql/target

/dalgen/dalgen-sqlite/logs
/dalgen/dalgen-sqlite/target

