*.class

/.classpath

/.project

/.settings

/logs
/target


/resources/main-resources

/WebRoot/albums

/dalgen-mysql/logs
/dalgen-mysql/target

/dalgen-sqlite/logs
/dalgen-sqlite/target

