<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>系统参数配置</comment>

	<entry key="app_name">atom-ebank-TEST</entry>

	<entry key="show_ads">true</entry>

	<entry key="DB_TYPE">sqlite</entry>
	<entry key="jdbcDriver">com.mysql.jdbc.Driver</entry>
	<entry key="jdbcUrl"><![CDATA[jdbc:mysql://localhost:3306/osnode?useUnicode=true&amp;characterEncoding=UTF8]]></entry>
	<entry key="jdbcUserName">osnode</entry>
	<entry key="jdbcPassword">site</entry>
	<entry key="jdbcInitialSize">1</entry>
	<entry key="jdbcMinIdle">1</entry>
	<entry key="jdbcMaxIdle">2</entry>
	<entry key="jdbcMaxActive">3</entry>
	<entry key="jdbcDefaultAutoCommit">true</entry>

	<entry key="perfThreshold">3000</entry>

</properties>
