<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>SpirngXML参数配置</comment>

	<entry key="adminLoginUrl">/login.html</entry>

	<entry key="exptRightUrl">/error/right.html</entry>
	<entry key="exptBizOptUrl">/error/operation.html</entry>
	<entry key="exptUnknowUrl">/error/system.html</entry>

</properties>
