<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ATOM-TOPIC">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    
    <!-- result maps for database table atom_topic -->
    <resultMap id="RM-TOPIC" type="TopicDTO">
        <result property="id" column="id" javaType="java.lang.String" />
        <result property="flag" column="flag" javaType="java.lang.String" />
        <result property="catg" column="catg" javaType="java.lang.String" />
        <result property="type" column="type" javaType="java.lang.String" />
        <result property="topic" column="topic" javaType="java.lang.String" />
        <result property="postUserNo" column="post_user_no" javaType="java.lang.String" />
        <result property="postNickName" column="post_nick_name" javaType="java.lang.String" />
        <result property="linkUrl" column="link_url" javaType="java.lang.String" />
        <result property="mediaUrl" column="media_url" javaType="java.lang.String" />
        <result property="gmtPost" column="gmt_post" javaType="java.util.Date" />
        <result property="visitCount" column="visit_count" javaType="int" />
        <result property="replyCount" column="reply_count" javaType="int" />
        <result property="replyUserNo" column="reply_user_no" javaType="java.lang.String" />
        <result property="replyNickName" column="reply_nick_name" javaType="java.lang.String" />
        <result property="gmtReply" column="gmt_reply" javaType="java.util.Date" />
        <result property="extMap" column="ext_map" javaType="java.lang.String" />
        <result property="titleStyle" column="title_style" javaType="java.lang.String" />
        <result property="title" column="title" javaType="java.lang.String" />
        <result property="summary" column="summary" javaType="java.lang.String" />
        <result property="content" column="content" javaType="java.lang.String" />
        <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" />
        <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" />
    </resultMap>


	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->
	<sql id="fieldTitle">
		id, flag, catg, link_url, media_url, visit_cnt, reply_cnt, title, '' AS summary, '' AS content, gmt_create, gmt_modify
	</sql>

	<sql id="fieldSummary">
		id, flag, catg, link_url, media_url, visit_cnt, reply_cnt, title, summary, '' AS content, gmt_create, gmt_modify
	</sql>

	<sql id="findFuzzy-WHERE">
		<where>
			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="state != null">
				AND SUBSTRING(flag, 1, 1)=#{state}
			</if>
			<if test="top != null">
				AND SUBSTRING(flag, 2, 1)=#{top}
			</if>
			<if test="link != null">
				AND SUBSTRING(flag, 3, 1)=#{link}
			</if>
			<if test="media != null">
				AND SUBSTRING(flag, 4, 1)=#{media}
			</if>
			<if test="reply != null">
				AND SUBSTRING(flag, 5, 1)=#{reply}
			</if>
			<if test="catgs != null">
				AND catg IN
				<foreach item="itm" index="idx" collection="catgs" open="(" separator="," close=")">#{itm}</foreach>
			</if>
			<if test="title != null">
				AND title LIKE #{title}
			</if>
		</where>
	</sql>

	<sql id="findTopXXX-WHERE">
		<where>
			<if test="catgs != null">
				AND catg IN
				<foreach item="itm" index="idx" collection="catgs" open="(" separator="," close=")">#{itm}</foreach>
			</if>
		</where>
	</sql>


	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->



    <!-- ============================================= -->
    <!-- mapped statements for MyBatisTopicDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisTopicDAO.insert -->
    <insert id="insert">
        INSERT INTO atom_topic(
				id, flag, catg, link_url, media_url, visit_cnt, reply_cnt, title, summary, content, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{flag}, #{catg}, #{linkUrl}, #{mediaUrl}, #{visitCnt}, #{replyCnt}, #{title}, #{summary}, #{content,jdbcType=VARCHAR}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisTopicDAO.find -->
    <select id="find" resultMap="RM-TOPIC" >
    <![CDATA[
        select * from atom_topic where (id = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findAll -->
    <select id="findAll" resultMap="RM-TOPIC" >
        SELECT <include refid="fieldTitle" /> FROM atom_topic
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findCatgOne -->
    <select id="findCatgOne" resultMap="RM-TOPIC" >
        SELECT * FROM atom_topic
			WHERE catg IN
				<foreach item="itm" index="idx" collection="list" open="(" separator="," close=")">#{itm}</foreach>
			LIMIT 1
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findFuzzy -->
    <select id="findFuzzy" resultMap="RM-TOPIC" >
        SELECT <include refid="fieldSummary" /> FROM atom_topic
				<include refid="findFuzzy-WHERE" />
			ORDER BY id DESC
			LIMIT #{offset},#{pageSize}
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findFuzzyCount -->
    <select id="findFuzzyCount" resultType="long" >
        SELECT COUNT(*) FROM atom_topic
				<include refid="findFuzzy-WHERE" />
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findTopVisit -->
    <select id="findTopVisit" resultMap="RM-TOPIC" >
        SELECT <include refid="fieldTitle" /> FROM atom_topic
				<include refid="findTopXXX-WHERE" />
			ORDER BY visit_cnt DESC
			LIMIT 0,#{size}
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findTopReply -->
    <select id="findTopReply" resultMap="RM-TOPIC" >
        SELECT <include refid="fieldTitle" /> FROM atom_topic
				<include refid="findTopXXX-WHERE" />
			ORDER BY reply_cnt DESC
			LIMIT 0,#{size}
    </select>

    <!-- mapped statement for MyBatisTopicDAO.update -->
    <update id="update" >
        UPDATE atom_topic SET flag=#{flag}, catg=#{catg}, link_url=#{linkUrl}, media_url=#{mediaUrl}, title=#{title}, summary=#{summary}, content=#{content,jdbcType=VARCHAR}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisTopicDAO.updateVisit -->
    <update id="updateVisit" >
        UPDATE atom_topic SET visit_cnt=visit_cnt+#{count}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisTopicDAO.updateReply -->
    <update id="updateReply" >
        UPDATE atom_topic SET reply_cnt=reply_cnt+#{count}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisTopicDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from atom_topic where (id = #{value})
    ]]>
    </delete>

</mapper>
