<link rel="stylesheet" type="text/css" media="screen" href="$ctx/public/twbs/css/bootstrap.min.css?v=3.1.0" />
<link rel="stylesheet" type="text/css" media="screen" href="$ctx/public/twbs/css/bootstrap-theme.min.css?v=3.1.0" />
<link rel="stylesheet" type="text/css" media="screen" href="$ctx/public/fa/css/font-awesome.min.css?v=4.0.3" />
<link rel="stylesheet" type="text/css" media="screen" href="$ctx/public/css/toastr.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="$ctx/public/css/azdai-mngt.css?v=2.0.1" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/twbs/js/bootstrap.min.js?v=3.1.0"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/toastr.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/anzhongdai.js?v=2.0.1"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" charset="utf-8" src="$ctx/public/js/html5shiv.js"></script>
<![endif]-->
#if($!StringUtils.equals($editor, "ON"))
<link rel="stylesheet" type="text/css" media="screen" href="$ctx/public/ueditor/themes/iframe.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/ueditor.forum.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/lang/zh-cn/zh-cn.js"></script>
#end
#if($!StringUtils.equals($password, "ON"))
<link rel="stylesheet" type="text/css" href="$ctx/public/css/password-strength.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/jquery.password-strength.js"></script>
#end