<link rel="stylesheet" type="text/css" href="$ctx/public/smtui/css/semantic.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="$ctx/public/twbs3/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="$ctx/public/twbs3/css/bootstrap-theme.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="$ctx/public/css/toastr.min.css" />
<link rel="stylesheet" type="text/css" href="$ctx/public/css/mngt.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/smtui/js/semantic.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/twbs3/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/toastr.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/mngt.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" charset="utf-8" src="$ctx/public/js/html5shiv.js"></script>
<![endif]-->
#if($!StringUtils.equals($editor, "ON"))
<link rel="stylesheet" type="text/css" href="$ctx/public/ueditor/themes/iframe.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/ueditor.forum.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/lang/zh-cn/zh-cn.js"></script>
#end
#if($!StringUtils.equals($password, "ON"))
<link rel="stylesheet" type="text/css" href="$ctx/public/css/password-strength.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/jquery.password-strength.js"></script>
#end
<script type="text/javascript">
$(document).ready(function() {
	// Tooltip插件
	$(".otip").tooltip({animation:false, trigger:"hover", placement:"bottom"});
	$(".ktip").tooltip({animation:false, trigger:"click", placement:"bottom"});
	
	// Toastr提示
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-bottom-full-width",
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
});
</script>