#set($title="问题咨询 - 帮助中心")
#set($user=$UserWebX.findSessionUser())
<div class="container">
	<div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
        	<li><a href="$ctx/help/center.htm">帮助中心</a></li>
			<li>问题咨询</li>
        </ol>
    </div>
</div>

<div class="container">
	<div class="col-md-3">
        #parse("/help/inc/inc-help-list.vm")
    </div>
	<div class="col-md-9">
        <div class="alert alert-info"><strong><i class="glyphicon glyphicon-headphones"></i> 温馨提示：</strong>建议您首先使用帮助中心来搜索您的问题，大多问题可以直接找到答案，且无需等待！</div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong><i class="glyphicon glyphicon-edit"></i> 问题咨询</strong></div>
        	<div class="panel-body">
        		<form role="form" method="post">
					<div class="col-md-6">
						<div class="form-group">
                            <select id="consultCatg" name="consultCatg" class="form-control" required="required">
                                <option value="">--请选择--</option>
                                <option value="0">审核相关</option>
                                <option value="1">额度相关</option>
                                <option value="2">优先计划</option>
                                <option value="3">手机相关</option>
                                <option value="4">提现相关</option>
                                <option value="5">逾期相关</option>
                                <option value="7">安全标安非标</option>
                                <option value="8">本金保障计划</option>
                                <option value="6">其他</option>
    						</select>
						</div>
                    </div>
					<div class="col-md-12">
            			<div class="form-group">
            				<textarea id="consultContent" name="consultContent" class="form-control" rows="10" required="required"></textarea>
                        </div>
                    </div>
					<div class="col-md-12">
						<button id="btn-create-consult" type="submit" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i> 提交问题咨询</button>
                    </div>
                </form>
        	</div>
        </div>
    </div>
</div>
#parse("/help/snip/consult.vm")