#set($title="服务协议 - 帮助中心")
#set($user=$UserWebX.findSessionUser())
<div class="container">
	<div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
        	<li><a href="$ctx/help/center.htm">帮助中心</a></li>
			<li>服务协议</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="col-md-3">
        #parse("/help/inc/inc-help-list.vm")
    </div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-body">
<!-- 条款内容开始 -->
<h1 class="text-center">服务协议</h1>
<hr/>
<div class="head">本服务协议双方为上海安众贷金融信息服务有限公司（下称"安众贷"）与安众贷用户，本服务协议具有合同效力。</div>
<div class="head">用户注册成为安众贷用户前请务必仔细阅读以下条款。一旦注册，则用户接受安众贷的服务时必须受以下条款的约束。若用户不接受以下条款，请立即离开安众贷。</div>
<div class="head">本服务协议内容包括以下条款及已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。本协议是由用户与安众贷共同签订的，适用于用户在安众贷的全部活动。在用户注册时，用户已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中国现行的法律、法规、规
章及其他政府规定，如有违反而导致任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任。</div>
<div class="head">安众贷有权根据需要不时地制定、修改本协议或各类规则，如本协议及规则有任何变更，安众贷将在网站上刊载公告，经修订的协议、规则一经公布后，立即自动生效。用户应不时地注意本协议及附属规则地变更，若用户不同意相关变更，安众贷有权不经任何告知终止、中止本服务协议或者限制用户进入安众贷的全部或者部分板块且不承担任何法律责任。</div>
<div class="head">用户确认本服务协议后，本服务协议即在用户和安众贷之间产生法律效力。用户按照安众贷规定的注册程序成功注册为用户，既表示同意并签署了本服务协议。本服务协议不涉及用户与安众贷的其他用户之间因网上交易而产生的法律关系及法律纠纷，但用户在此同意将全面接受和履行与安众贷其他用户在安众贷签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</div>
<p>一、使用限制</p>
<div>用户确认本服务协议后，本服务协议即在用户和安众贷之间产生法律效力。用户按照安众贷规定的注册程序成功注册为用户，既表示同意并签署了本服务协议。本服务协议不涉及用户与安众贷的其他用户之间因网上交易而产生的法律关系及法律纠纷，但用户在此同意将全面接受和履行与安众贷其他用户在安众贷签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</div>
<div>用户承诺合法使用安众贷提供的服务及网站内容。禁止在安众贷从事任何可能违反中国现行的法律、法规、规章和政府规范性文件的行为或者任何未经授权使用安众贷的行为，如擅自进入安众贷的未公开系统、不正当地使用密码和网站任何内容等。
</div>
<div>安众贷只接受中华人民共和国（不包括香港特区、澳门特区及台湾地区）的18周岁以上的具有完全民事行为能力的自然人成为网站用户。如用户不符合资格，请勿注册。安众贷保留中止或终止用户身份的权利。
</div>
<div>用户注册成功后，不得将安众贷的用户名转让给第三方或者授权给第三方使用。用户确认，使用本人的用户的用户名和密码登陆安众贷后在安众贷的一切行为均代表用户本人并由用户本人承担相应的法律后果。
</div>
<div>用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性。如用户因网上交易与其他用户产生诉讼的，安众贷将根据隐私规则披露相关用户资料。
</div>
<div>经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者安众贷有足够事实依据可以认定用户存在违法或违反本服务协议的行为的或者用户借款逾期未还 的，用户在此同意并授权安众贷在因特网络上公布用户的违法、违约行为及用户事先提供给安众贷的信息和资料，并将该等内容记入任何与用户相关的信用资料和档案。
</div>
<p>二、涉及第三方网站</p>
<div>安众贷的网站内容可能涉及由第三方所有、控制或者运营的其他网站（以下称"第三方网站"）。安众贷不能保证也没有义务保证第三方网站上的信息的真实性和有效性。用户确认按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站不是安众贷推荐或者介绍的，第三方网站的内容、产品、广告和其他任何信息均由用户自行判断并承担风险，而与安众贷无关。</div>
<p>三、不保证</p>
<div>除安众贷明确表示提供担保的业务外，安众贷提供的服务中不带有对安众贷中的任何用户、任何交易的任何保证或条件，无论是明示、默示或法定的，因此安众贷及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员等均不能完全保证网站内容的真实性、充分性、及时性、可靠性、完整性和有效性，
并且免除任何由此引起的法律责任。</div>
<p>四、责任限制</p>
<div>在任何情况下，安众贷对用户使用安众贷服务而产生的任何形式的直接或间接损失均不承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等。因为安众贷或者涉及的第三方网站的设备、系统存在缺陷或者因为计算机病毒造成的损失，安众贷均不负责赔偿，用户的补救措施只能是与安众贷终止本协议并停止使用安众贷。但是，中国现行法律、法规另有规定的除外。</div>
<p>五、网站内容监测</p>
<div>安众贷没有义务监测网站内容，但是用户确认并同意安众贷有权不时地根据法律、法规、政府要求透露、修改或者删除必要的、合适的信息，以便更好地运营安众贷并保护自身及安众贷的其他合法用户。
</div>
<p>六、隐私规则</p>
<div>安众贷对于用户提供的、自行收集的、经认证的个人信息将按照本规则予以保护、使用或者披露。当用户作为借入人借款逾期未还时，安众贷及作为借出人的其他用户可以采取发布用户的个人信息的方式追索债权，但安众贷对上述行为免责。
</div>
<div class="lv2">1、用户身份限制</div>
<div>安众贷要求未成年人（年龄18周岁以下人士）、中国大陆以外地区人士及自然人以外的组织等不要向安众贷提交任何个人资料。
</div>
<div class="lv2">2、涉及的个人资料</div>
<div>用户提供给安众贷的个人资料及用户同意安众贷收集的个人资料的主要目的在于向用户提供一个顺利、有效和度身订造的交易经历。
</div>
<div>安众贷可能自公开来源了解用户的情况，并为其度身订造安众贷服务、解决争议并有助确保在网站进行安全交易。
</div>
<div>
安众贷按照用户在安众贷网址上的行为自动追踪关于用户的某些资料。安众贷利用这些资料进行有关安众贷之用户的人口统计、兴趣及行为的内部研究，以更好地了解用户及向用户和安众贷的用户社区提供更好的服务。
</div>
<div>
安众贷在安众贷的某些网页上使用诸如"Cookies"的资料收集装置。
</div>
<div>
如果用户将个人通讯信息（例如：手机短信、电邮或信件）交付给安众贷，或如果其他用户或第三方向安众贷发出关于用户在安众贷上的活动或登录事项的通讯信息，安众贷可以将这些资料收集在用户的专门档案中。
</div>
<div class="lv2">
3、安众贷对用户的资料的使用
</div>
<div>
用户同意安众贷可使用关于用户的个人资料（包括但不限于安众贷持有的有关用户的档案中的资料，及安众贷从用户目前及以前在安众贷上的活动所获取的其他资料）以解决争议、对纠纷进行调停、有助于确保在安众贷进行安全交易，并执行安众贷的服务协议。安众贷有时候可能调查多个用户以识别问题或解决争议，
特别是安众贷可审查用户的资料以区分使用多个用户名或别名的用户。 为禁止用户在安众贷上的欺诈、非法或其他刑事犯罪活动，使安众贷免受其害，用户同意安众贷可通过人工或自动程序对用户的个人资料进行评价。
用户同意安众贷可以使用用户的个人资料以改进安众贷的推广和促销工作、分析网站的使用率、改善安众贷的内容和产品推广形式，并使安众贷的网站内容、设计和服务更能符合用户的要求。这些使用能改善安众贷的网页，以调整安众贷的网页使其更能符合用户的需求，从而使用户在使用安众贷服务时得到更为顺利、有效、安全及度身订造的交易体验。
</div>
<div>
用户同意安众贷利用用户的资料与用户联络并向用户传递（在某些情况下）针对用户的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关用户使用安众贷的通讯。
</div>
<div class="lv2">
4、安众贷对用户的资料的披露
</div>
<div>
虽然安众贷采用行业标准惯例以保护用户的个人资料，鉴于技术限制，安众贷不能确保用户的全部私人通讯及其他个人资料不会通过本隐私规则中未列明的途径泄露出去。
</div>
<div>
安众贷有义务根据有关法律要求向司法机关和政府部门提供用户的个人资料。在用户未能按照与安众贷签订的服务协议或者与安众贷其他用户签订的借款协议等其他法律文本的约定履行自己应尽的义务时，安众贷有权根据自己的判断或者与该笔交易有关的其他用户的请求披露用户的个人资料，并做出评论。
用户的借款逾期超过30天的，安众贷有权对用户提供的及安众贷自行收集的用户的个人信息和资料编辑入网站黑名单，并将该黑名单对第三方披露，且安众贷有权将用户提交的资料或安众贷在公开领域了解的用户的情况与任何第三方进行数据共享，以便网站和第三方催收逾期借款及对用户的其他申请进行审核之用，由此因第三方的行为造成用户损失，安众贷不承担法律责任。
</div>
<div class="lv2">
5、用户对其他用户的资料的使用
</div>
<div>
在安众贷提供的交易活动中，用户无权要求安众贷提供其他用户的个人资料，除非符合以下条件：
</div>
<div>
• （a）用户已向法院起诉其他用户的在安众贷活动中的违约行为；
</div>
<div>
• （b）接受用户贷款的借款人逾期未归还借款本息；
</div>
<div>
• （c）安众贷被吊销营业执照、解散、清算、宣告破产或者其他有碍于用户收回借款本息的情形。
</div>
<div class="lv2">
6、电子邮件和群组
</div>
<div>
用户不得使用安众贷提供的站内信服务、群组服务或其他电子邮件转发服务发出垃圾邮件、信息或其他可能违反安众贷的服务协议的内容。 如果您利用安众贷的服务向没有在安众贷内注册的电子邮件地址发出电子邮件，安众贷除了利用该电子邮件地址发出用户的电子邮件之外将不作任何其他用途。安众贷不会出租或出售这些电子邮件地址。安众贷不会永久储存电子邮件信息或电子邮件地址。
</div>
<div class="lv2">
7、密码的安全性
</div>
<div>
用户须对使用用户的用户名和密码所采取的一切行为负责。因此，用户不要向任何第三方披露用户在安众贷的用户名和密码，否则由此造成的损失由用户自行承担。
</div>
<p>
七、补偿</p>
<div>
就任何第三方提出的，由于用户违反本协议及纳入本协议的条款和规则或用户违反任何法律、法规或侵害第三方的权利而产生或引起的每一种类和性质的任何索赔、 要求、诉讼、损失和损害（实际的、特别的及有后果的），无论是已知或未知的，包括合理的律师费，用户同意就此对安众贷和（如适用）安众贷的母公司、
子公司、关联公司、高级职员、董事、代理人和雇员进行补偿并使其免受损害。
</div>
<p>
八、终止</p>
<div>
除非安众贷终止本协议或者用户申请终止本协议且经安众贷同意，否则本协议始终有效。安众贷有权在不通知用户的情况下在任何时间终止本协议或者限制用户使用安众贷。
</div>
<p>
九、适用法律和管辖
</p>
<div>
因安众贷提供服务所产生的争议均适用中华人民共和国法律，并由安众贷住所地的上海市浦东新区人民法院管辖。
</div>
<p>
十、附加条款</p>
<div>
在安众贷的某些部分或页面中可能存在除本协议以外的单独的附加服务条款，当这些条款存在冲突时，在该些部分和页面中附加条款优先适用。
</div>
<p>
十一、条款的独立性</p>
<div>
若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。
</div>
<p>
十二、投诉与建议</p>
<div>
用户对安众贷有任何投诉和建议，请将投诉和建议发送到<a href="mailto:service@anzhongdai.com">service@anzhongdai.com</a>
</div>
<p style="margin: 40px 0;">最后更新日期：2012年4月</p>
<!-- //条款内容开始 -->
            </div>
        </div>
    </div>
</div>
