<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>#if($title) $title -#end 安众贷论坛</title>
#parse("/public/uniform-resources.vm")
</head>
<body id="body">
<div id="wrap">
#parse("/public/uniform-header.vm")
$screen_placeholder
</div>
#set($navbar="forum")
#parse("/public/uniform-footer.vm")
</body>
</html>
