/*!
 * anzhongdai v2.0.1
 * Copyright 2014 anzhongdai.com, Inc.
 */
html,body {
	height: 100%;
	width: 100%;
}

body {
	line-height: 150%;
	padding-top: 70px;
	background: #FFF url('../img/grey.png') repeat;
	font-size: 14px;
	font-family: "Microsoft YaHei", '微软雅黑', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #0036a9;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}

/* Tootip占位CSS */
.otip,.ktip {
	
}

.topic-extra-info {
	font-size: 10px;
}

/**-----------------------------------------------------------------
 * 固定底部，与#footer配合使用
 */
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -110px;
	padding: 0 0 110px;
}

/**-----------------------------------------------------------------
 * 底部导航
 */
#footer {
	height: 110px;
	min-width: 600px;
	/*border-top: 5px solid #e24e35;*/
	/*padding: 15px 0;*/
	font-size: 14px;
	color: #999;
	/*background: #151515 url('../img/dark-bg.png') repeat;*/
	background: #194c73;
	-webkit-box-shadow: inset 0 1px 0 #292929;
	-moz-box-shadow: inset 0 1px 0 #292929;
	box-shadow: inset 0 1px 0 #292929;
}

#footer a {
	color: #FFFFFF;
}

#footer a:hover {
	color: #FF0000;
}

#footer .container,#footer .container-fluid {
	text-align: center;
	background: #194c73;
	padding-top: 10px;
	/*padding-bottom: 6px;*/
}

.bottom_nav {
	margin: 0 auto;
	width: 600px;
	min-width: 600px;
	text-align: center;
	background: #194c73;
}

.bottom_nav ul {
	height: 36px;
	list-style: none;
}

.bottom_nav li {
	float: left;
	color: #FFF;
	height: 34px;
	line-height: 34px;
	margin: 0 10px 0 5px;
}

.bottom_nav .split {
	color: #000;
}

.bottom_nav .web_index,.bottom_nav .web_aboutus,.bottom_nav .web_map,.bottom_nav .web_service {
	background: url('../img/bottom_tit.png');
	display: block;
	float: left;
	margin-right: 10px;
}

.bottom_nav .web_index {
	background-position: 0 0;
	width: 35px;
	height: 31px;
}

.bottom_nav .web_aboutus {
	background-position: -36px 0;
	width: 35px;
	height: 31px;
}

.bottom_nav .web_map {
	background-position: -74px 0;
	width: 35px;
	height: 31px;
}

.bottom_nav .web_service {
	background-position: -112px 0;
	width: 35px;
	height: 34px;
}

.bottom_nav p {
	clear: both;
	color: #66aae9;
	text-align: center;
	font-size: 13px;
}

/**-----------------------------------------------------------------
 * 账户绑定
 */
.account_bind_nav .bind_nav .bind_img {
	background: url('../img/account-bind.png') 0 0 #ebf4f6 no-repeat;
	height: 82px;
	width: 82px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.account_bind_nav .bind_nav .alipay {
	background-position: 13px 8px;
}

.account_bind_nav .bind_nav .tencent {
	background-position: -85px 8px;
}

.account_bind_nav .bind_nav .weibo {
	background-position: 13px -92px;
}

.account_bind_nav .bind_nav .renren {
	background-position: -86px -94px;
}

.account_bind_nav .bind_nav .google {
	background-position: 15px -192px;
}

.account_bind_nav .bind_nav .tenpay {
	background-position: -86px -194px;
}

.account_bind_nav .bind_nav .douban {
	background-position: 14px -294px;
}

.account_bind_nav .bind_nav .kaixin001 {
	background-position: -85px -292px;
}

/**-----------------------------------------------------------------
 * 安全中心
 */
.safety_setting .tips {
	font-size: 16px;
	font-weight: bold;
}

.safety_setting .contents {
	color: #666;
}

.safety_setting .pass {
	color: #0e5a9a;
}

.safety_setting td {
	height: 60px;
	vertical-align: middle;
}

.safety_setting span {
	width: 50px;
	height: 37px;
	display: block;
	background: url('../img/safety.png') no-repeat;
}

.safety_setting .safety_pass_icon1 {
	background-position: -54px 4px;
}

.safety_setting .safety_pass_icon2 {
	background-position: -54px -29px;
}

.safety_setting .safety_icon3 {
	background-position: 22px -64px;
}

.safety_setting .safety_pass_icon5 {
	background-position: -54px -136px;
}

.safety_setting .safety_icon4 {
	background-position: 22px -101px;
}

/**-----------------------------------------------------------------
 * 用户资料
 */
.essential_information .left_nav {
	width: 200px;
	padding-top: 55px;
}

.essential_information .left_nav label {
	width: 200px;
	text-align: center;
}

.essential_information .imgicon_nav {
	background: url('../img/user-detail.png') 0 -244px no-repeat;
	width: 84px;
	height: 84px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.float_l {
	float: left;
}

/**------------------------------------------------------------------
 * 返回顶部
 */
p#back-to-top {
	position: fixed;
	right: 18px;
	bottom: 125px;
}

p#back-to-top a {
	text-align: center;
	text-decoration: none;
	color: #d1d1d1;
	display: block;
	width: 40px;
	/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
}

p#back-to-top a:hover {
	color: #979797;
}

p#back-to-top a span {
	background: #d1d1d1 url(../img/back-top.png) no-repeat center center;
	border-radius: 6px;
	display: block;
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
	/*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
}

#back-to-top a:hover span {
	background: #979797 url(../img/back-top.png) no-repeat center center;
}