<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>#if($title)$title -#end 管理菜单</title>
#parse("/mngt/inc/inc-header.vm")
</head>
<body>
$screen_placeholder
#parse("/mngt/inc/inc-resource.vm")
</body>
</html>