<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" #MarginBottomNO()>
    <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">菜单导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="$ctx/home/index.htm"><img src="$ctx/public/logo.png" /></a>
            </div>
			
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
					<li>&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;</li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
						<input type="text" class="form-control" placeholder="搜索关键字"/>
                    </div>
					<button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-search"></i> 搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
					<button type="button" class="btn btn-info navbar-btn">注册</button>
					<button type="button" class="btn btn-primary navbar-btn">登录</button>
				</ul>
            </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-top navbar-top" role="navigation">
	<div class="container">
			<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                    <span class="sr-only">菜单导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
			
			<div class="collapse navbar-collapse navbar-subnav" id="navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a class="otip" href="$ctx/home/product.htm" title="P2P互联网金融"><i class="glyphicon glyphicon-share"></i> 安众贷</a></li>
                    <li><a class="otip" href="#" title="技术博客"><i class="glyphicon glyphicon-check"></i> 博客</a></li>
					<li><a class="otip" href="$ctx/user/blacklist.htm" title="新闻头条"><i class="glyphicon glyphicon-remove-circle"></i> 资讯</a></li>
					<li class="active"><a class="otip" href="$ctx/user/regist.htm" title="美图图片"><i class="glyphicon glyphicon-heart"></i> 图片</a></li>
					<li><a class="otip" href="$ctx/forum/index.htm" title="大家谈"><i class="glyphicon glyphicon-fire"></i> 杂谈</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="otip" href="$ctx/help/center.htm" title="关于"><i class="glyphicon glyphicon-question-sign"></i> 关于</a></li>
				</ul>
            </div>
	</div>
</div>

<!-- https://wrapbootstrap.com/support/download-resender -->
<!--
<div class="page-header-top">
    <div class="container">
		<div class="col-md-12">
			<h1>Support <small>for buyers and sellers</small></h1>
		</div>
    </div>
</div>
-->
