<div class="clearfix"></div>
<div id="footer">
	<div class="container-fluid">
		<div class="col-md-12">
    		<div class="bottom_nav">
        		<ul>
        			<li><a href="#"><span class="web_index"></span>网站首页</a></li>
        			<li class="split">|</li>
        			<li><a href="#"><span class="web_aboutus"></span>关于我们</a></li>
                    <li class="split">|</li>
        			<li><a href="#"><span class="web_map"></span>网站地图</a></li>
        			<li class="split">|</li>
        			<li><a href="$ctx/help/center.htm"><span class="web_service"></span>客服中心</a></li>
        		</ul>
        		<p>上海安众贷金融信息服务有限公司 版权所有 2007-2014</p>
        		<p>Copyright Reserved 2007-2014©安众贷（www.azdai.com） <span class="split">|</span> 沪ICP备05063398号</p>
    		</div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="$ctx/public/twbs/css/bootstrap.min.css?v=3.1.0" media="screen" />
<link rel="stylesheet" type="text/css" href="$ctx/public/twbs/css/bootstrap-theme.min.css?v=3.1.0" media="screen" />
<link rel="stylesheet" type="text/css" href="$ctx/public/fa/css/font-awesome.min.css?v=4.0.3" media="screen" />
<link rel="stylesheet" type="text/css" href="$ctx/public/css/toastr.min.css" />
<link rel="stylesheet" type="text/css" href="$ctx/public/css/jeesite.css?v=2.0.1" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/twbs/js/bootstrap.min.js?v=3.1.0"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/toastr.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/anzhongdai.js?v=2.0.1"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" charset="utf-8" src="$ctx/public/js/html5shiv.js"></script>
<![endif]-->
#if($!StringUtils.equals($editor, "ON"))
<link rel="stylesheet" type="text/css" href="$ctx/public/ueditor/themes/iframe.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/ueditor.forum.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/ueditor/lang/zh-cn/zh-cn.js"></script>
#end
#if($!StringUtils.equals($password, "ON"))
<link rel="stylesheet" type="text/css" href="$ctx/public/css/password-strength.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/jquery.password-strength.js"></script>
#end
<script type="text/javascript">
$(document).ready(function(){
#if($!StringUtils.isNotBlank($navbar))
	if($("#navbar-id-$!navbar").length > 0) {
		$("#navbar-id-$!navbar").addClass("active");
	}
#end
});
</script>