<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="CatgDTO" type="com.github.obullxl.jeesite.dal.dto.CatgDTO"/>
		<typeAlias alias="ConfigDTO" type="com.github.obullxl.jeesite.dal.dto.ConfigDTO"/>
		<typeAlias alias="CrawlDTO" type="com.github.obullxl.jeesite.dal.dto.CrawlDTO"/>
		<typeAlias alias="ReplyDTO" type="com.github.obullxl.jeesite.dal.dto.ReplyDTO"/>
		<typeAlias alias="TopicDTO" type="com.github.obullxl.jeesite.dal.dto.TopicDTO"/>
		<typeAlias alias="UserDTO" type="com.github.obullxl.jeesite.dal.dto.UserDTO"/>
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/jeesite/Catg-mapper.xml" />
		<mapper resource="mybatis/jeesite/Config-mapper.xml" />
		<mapper resource="mybatis/jeesite/Crawl-mapper.xml" />
		<mapper resource="mybatis/jeesite/Reply-mapper.xml" />
		<mapper resource="mybatis/jeesite/Topic-mapper.xml" />
		<mapper resource="mybatis/jeesite/User-mapper.xml" />
	</mappers>
</configuration>
