<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserDO" type="com.github.obullxl.jeesite.dal.dto.UserDO" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mappers/atom-user-mapper.xml" />
	</mappers>
</configuration>
