<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>#if($title) $title -#end 系统安装</title>
<meta name="description" content="Java编程,Node.js Bootstrap Node Spring SpringMVC Struts1 Struts2 Webwork框架深入,Freemarker Velocity模板使用,XMLHTTP Ajax开发,Java Web开发,Java企业应用,Java设计模式,Java开源框架,Java应用服务器,Rich Client讨论,Ruby编程,Ruby DSL开发,Ruby on rails实践,JavaScript编程,敏捷软件开发XP TDD,软件配置管理,软件测试,项目管理UML,数据库,C#/.net C/C++ Erlang/FP PHP/Linux平台,精通Hibernate" />
<meta name="keywords"  content="Java编程 Node.js框架 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 ITeye深度技术社区" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arizonia" />
<link rel="stylesheet" type="text/css" href="$ctx/public/css/bootstrap.css" media="screen" />
<link rel="stylesheet" type="text/css" href="$ctx/public/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="$ctx/themes/$ThemeWebX.findTheme()/css/front.css" />
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/jquery-2.0.3.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" charset="utf-8" src="$ctx/public/js/html5shiv.js"></script>
<![endif]-->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" href="$ctx/public/favicon.png" />
<link rel="shortcut icon" href="$ctx/public/favicon.png" />
</head>
<body>
<br/>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="alert alert-info">
				<strong>公告：</strong>本系统为开源系统，可以自由的用于个人或商业组织， GitHub开源地址：<a href="https://github.com/obullxl/atom-jeesite" target="_blank">atom-jeesite</a>，有任何建议或合作，请邮件联系：<a href="mailto:obullxl@gmail.com">obullxl@gmail.com</a>，谢谢！
				<br/>
            </div>
		</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
			$screen_placeholder
        </div>
    </div>
</div>
</body>
</html>
