<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>#if($title) $title -#end</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="$ctx/public/css/bootstrap.css" rel="stylesheet" media="screen"/>
<link href="$ctx/public/css/bootstrap-responsive.css" rel="stylesheet"/>
<link href="$ctx/public/css/admin.css" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/jquery-2.0.3.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" charset="utf-8" src="$ctx/public/js/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript" src="$ctx/public/lhgdialog/lhgdialog.min.js"></script>
<script type="text/javascript" src="$ctx/public/lhgdialog/lhgdialog-config.js"></script>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" href="$ctx/public/favicon.png" />
<link rel="shortcut icon" href="$ctx/public/favicon.png" />
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				$screen_placeholder
			</div>
		</div>
	</div>
</body>
</html>