<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ATOM-REPLY">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    
    <!-- result maps for database table atom_reply -->
    <resultMap id="RM-REPLY" type="ReplyDTO">
        <result property="id" column="id" javaType="long" />
        <result property="state" column="state" javaType="java.lang.String" />
        <result property="topic" column="topic" javaType="java.lang.String" />
        <result property="title" column="title" javaType="java.lang.String" />
        <result property="uname" column="uname" javaType="java.lang.String" />
        <result property="uemail" column="uemail" javaType="java.lang.String" />
        <result property="usite" column="usite" javaType="java.lang.String" />
        <result property="content" column="content" javaType="java.lang.String" />
        <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" />
        <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" />
    </resultMap>


	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->
	<sql id="abc">
		abc
	</sql>

	<sql id="topic-index-where">
	<![CDATA[
		abcefg<efg & abcefg>abc
	]]>
	</sql>


	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->

    <!-- ============================================= -->
    <!-- mapped statements for MyBatisReplyDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisReplyDAO.insert -->
    <insert id="insert">
        INSERT INTO atom_reply(
				id, state, topic, title, uname, uemail, usite, content, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{state}, #{topic}, #{title}, #{uname}, #{uemail}, #{usite}, #{content,jdbcType=VARCHAR}, DATETIME('NOW', 'LOCALTIME'), DATETIME('NOW', 'LOCALTIME')
			)
    </insert>

    <!-- mapped statement for MyBatisReplyDAO.find -->
    <select id="find" resultMap="RM-REPLY" >
    <![CDATA[
        select * from atom_reply where (id = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisReplyDAO.findAll -->
    <select id="findAll" resultMap="RM-REPLY" >
    <![CDATA[
        select * from atom_reply
    ]]>
    </select>

    <!-- mapped statement for MyBatisReplyDAO.findTopic -->
    <select id="findTopic" resultMap="RM-REPLY" >
    <![CDATA[
        select * from atom_reply where (topic = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisReplyDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from atom_reply where (id = #{value})
    ]]>
    </delete>

    <!-- mapped statement for MyBatisReplyDAO.deleteTopic -->
    <delete id="deleteTopic" >
    <![CDATA[
        delete from atom_reply where (topic = #{value})
    ]]>
    </delete>

</mapper>
