<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ATOM-USER-RGT">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    
    <!-- result maps for database table atom_user_rgt -->
    <resultMap id="RM-USER-RGT" type="UserRgtDTO">
        <result property="id" column="id" javaType="long" />
        <result property="name" column="name" javaType="java.lang.String" />
        <result property="rgtCode" column="rgt_code" javaType="java.lang.String" />
        <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" />
        <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" />
    </resultMap>


	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->

	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->

    <!-- ============================================= -->
    <!-- mapped statements for MyBatisUserRgtDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisUserRgtDAO.insert -->
    <insert id="insert">
        INSERT INTO atom_user_rgt(
				id, name, rgt_code, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{name}, #{rgtCode}, DATETIME('NOW', 'LOCALTIME'), DATETIME('NOW', 'LOCALTIME')
			)
    </insert>

    <!-- mapped statement for MyBatisUserRgtDAO.find -->
    <select id="find" resultMap="RM-USER-RGT" >
    <![CDATA[
        select * from atom_user_rgt where ((name = #{name}) AND (rgt_code = #{rgtCode}))
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserRgtDAO.findAll -->
    <select id="findAll" resultMap="RM-USER-RGT" >
    <![CDATA[
        select * from atom_user_rgt
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserRgtDAO.findByUser -->
    <select id="findByUser" resultMap="RM-USER-RGT" >
    <![CDATA[
        select * from atom_user_rgt where (name = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserRgtDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from atom_user_rgt where ((name = #{name}) AND (rgt_code = #{rgtCode}))
    ]]>
    </delete>

</mapper>
