#set($layout="/layout/layout-admin.vm")
#set($title="新增分类 - 分类管理")
#set($catgMenuBody=true)
<script type="text/javascript">
<!--
$(document).ready(function() {
	$("#catg-form").submit(function(e) {
		e.preventDefault();
		ajaxRquest({
    		form: "catg-form",
    		url: "$ctx/admin/catg/create.html",
    		sclose: function() {
    			location.href = "$ctx/admin/catg/create.html";
    		}
    	});
	});
});
//-->
</script>
<form id="catg-form" name="catg-form" class="form-horizontal" #StyleMB0()>
	<ul class="breadcrumb">
    	<li><span class="divider">/</span></li>
    	<li>后台管理</li>
		<li><span class="divider">/</span></li>
    	<li>分类管理</li>
		<li><span class="divider">/</span></li>
    	<li id="form-opt-name" class="active">新增分类</li>
    </ul>
	<input type="hidden" id="catgCatg" name="catgCatg" value="0" />
	<div class="control-group">
		<label for="catgText"><span class="icon-chevron-right"></span><strong>上级分类</strong>-必输项！</label>
		<div class="input-append">
			<input type="text" id="catgText" name="catgText" class="span12" readonly="readonly" placeholder="上级分类名称" />
			<button id="btnSelectCatg" class="btn btn-info" type="button">选择</button>
        </div>
	</div>
	<div class="control-group">
		<label for="catgSort"><span class="icon-chevron-right"></span><strong>分类排序值</strong>-必输项！</label>
		<input type="number" id="catgSort" name="catgSort" value="0" class="span4" required="required" placeholder="分类排序值" />
	</div>
	<div class="control-group">
		<label for="catgName"><span class="icon-chevron-right"></span><strong>分类名称</strong>-必输项！</label>
		<input type="text" id="catgName" name="catgName" class="span12" required="required" placeholder="分类名称" />
	</div>
	<label class="checkbox">
    	<input type="checkbox" id="catgTop" name="catgTop" value="T" /> 首页分类导航
    </label>
	<div>
		<button id="btn-submit" type="submit" class="btn btn-success">提交保存</button>
	</div>
	<div class="clearfix"></div>
</form>
