#set($layout="/layout/layout-admin.vm")
#set($title="分类管理 - 后台管理")
<link rel="stylesheet" type="text/css" href="$ctx/public/zTreeStyle/zTreeStyle.css" />
<script type="text/javascript" src="$ctx/public/js/jquery.ztree.all-3.5.js"></script>
<script type="text/javascript">
<!--
#set($catgs = $CatgXHelper.findAll())
#set($count = $catgs.size())
var ztreeNodes = [
#foreach($catg in $catgs)
	{id:$catg.id, pId:$catg.catg, catg:$catg.catg, name:"($catg.code)($catg.name)", sname:"$catg.name", open:true, top:"$catg.top", sort:$catg.sort} #if($velocityCount<$count),#end
#end
];
	
function onTreeCatgsClick(evt, treeId, catg, clickFlag) {
	if(clickFlag !== 1) {
		alert("请单选一个主题分类!");
		return;
	}
	
	$("#catgId").val(catg.id);
	$("#catgName").val(catg.sname);
};

var ztreeSetting = {
	view: {
		dblClickExpand: false
	},
	data: {
		simpleData: {
			enable: true
		}
	},
	callback: {
		onClick: onTreeCatgsClick
	}
};

$(document).ready(function(){
	$.fn.zTree.init($("#ztreeMngt"), ztreeSetting, ztreeNodes);
	
	$("#btn-refresh").click(function(e) {
		location.href = location.href;
	});
	
	$("#btn-update").click(function(e) {
		e.preventDefault();
		location.href = "$ctx/admin/catg/update-" + $("#catgId").val() + ".html";
	});
	
	$("#btn-delete").click(function(e) {
		e.preventDefault();
		
		var catgId = $("#catgId").val();
		if(window.confirm("确定删除分类[" + $("#catgName").val() + "]吗，删除操作不可撤销？")) {
			jQuery.post("$ctx/admin/catg/delete.html", {id: catgId}, function(rtn) {
				if(rtn.success) {
					location.href = location.href;
				} else {
					window.alert("分类删除失败: " + rtn.respDesp);
				}
			});
		}
	});
});
//-->
</script>
<div class="well well-small">
    <form id="catg-form" name="catg-form" class="form-inline" #StyleMB0()>
		<button id="btn-refresh" type="button" class="btn btn-info"><span class="icon-refresh"></span> 刷新</button>
		
		<div class="pull-right">
			<input type="hidden" id="catgId" name="catgId" />
			<input type="text" id="catgName" name="catgName" class="input-medium" readonly="readonly" placeholder="分类名称" />
			<button type="button" id="btn-update" class="btn btn-success">修改</button>
			<button type="button" id="btn-delete" class="btn btn-warning">删除</button>
		</div>
    </form>
</div>
<div id="ztreeMngt" class="ztree radius-block" style="margin-top:0"></div>
<div class="space-span"></div>
