#set($layout="/layout/layout-admin.vm")
#set($title="文件下载 - 文件管理")
<form id="file-form" name="file-form" method="post" class="form-horizontal" #MarginBottomNO()>
	<ul class="breadcrumb">
    	<li><span class="divider">/</span></li>
    	<li>后台管理</li>
		<li><span class="divider">/</span></li>
    	<li>文件管理</li>
		<li><span class="divider">/</span></li>
    	<li class="active">文件下载</li>
    </ul>
	<div class="control-group">
		<label for="file"><span class="icon-chevron-right"></span><strong>文件路径</strong>-必输项，文件绝对路径！</label>
		<input id="file" name="file" value="$!file" class="span12" type="text" required="required" />
	</div>
	<div>
		<button type="submit" class="btn btn-primary">下载文件</button>
	</div>
	<div class="clearfix"></div>
</form>
