#set($title="新增模板 - 模板管理")
<script type="text/javascript">
$(document).ready(function() {
    $("#tmpt-form").submit(function(e) {
    	e.preventDefault();
    	ajaxRquest({
    		form: "tmpt-form",
    		url: "$ctx/admin/tmpt/create.htm"
    	});
    });
});
</script>
<form id="tmpt-form" name="tmpt-form" class="form-horizontal" #MarginBottomNO()>
	<ul class="breadcrumb">
    	<li><span class="divider">/</span></li>
    	<li>后台管理</li>
		<li><span class="divider">/</span></li>
		<li>模板管理</li>
		<li><span class="divider">/</span></li>
    	<li class="active">新增模板</li>
    </ul>
	<div class="control-group">
		<label for="catgFlag"><span class="icon-chevron-right"></span><strong>类型</strong>-必输项！</label>
		<select id="catgFlag" name="catgFlag" class="input-small">
			#formSelectOptions($EnumWebX.toTmptCatgMap(), "")
		</select>
	</div>
	<div class="control-group">
		<label for="tmptName"><span class="icon-chevron-right"></span><strong>路径</strong>-必输项！</label>
		<input id="tmptName" name="tmptName" class="span12" type="text" required="required" placeholder="/admin/abc.vm" />
	</div>
	<div>
		<button type="submit" class="btn btn-primary">提交保存</button>
	</div>
	<div class="clearfix"></div>
</form>
