#set($layout="/layout/layout-admin.vm")
#set($title="主题管理")
#set($catgMenuBody=true)
#set($PageList=$topicPageList)
<script type="text/javascript">
$(document).ready(function() {
	var formToggle = function(show, hide) {
		$("#formCatg").val(show);
	
		$("#form-" + show).show();
		$("#btn-" + show).removeClass("btn-info");
		$("#btn-" + show).addClass("btn-success");
	
		$("#form-" + hide).hide();
		$("#btn-" + hide).addClass("btn-info");
		$("#btn-" + hide).removeClass("btn-success");
	};
	
#if($StringUtils.equals($form.formCatg, "single"))
	#set($formCatg="single")
	formToggle("single", "fuzzy");
#else
	#set($formCatg="fuzzy")
	formToggle("fuzzy", "single");
#end

	$("#btn-fuzzy").click(function(e) {
		e.preventDefault();
		formToggle("fuzzy", "single");
	});
	
	$("#btn-single").click(function(e) {
		e.preventDefault();
		formToggle("single", "fuzzy");
	});
	
	/** 翻页 */
	$("a").click(function(e) {
		var aid = $(this).attr("id");
		if(aid.indexOf("btn-page-") == 0) {
			e.preventDefault();
			var page = $(this).data("page");
			console.log("PageID: " + aid + ", PageNo: " + page);
			$("#page").val(page);
			$("#topic-form").submit();
		}
	});
	
	/** 同步 */
	$("button").click(function(e) {
		var btnId = $(this).attr("id");
		if(btnId.indexOf("btn-sync-") == 0) {
			e.preventDefault();
			var tpcId = $(this).data("tpcid");
			console.log("DataSync-BtnID: " + btnId + ", TpcID: " + tpcId);
			
        	jQuery.post("$ctx/data/sync/topic-apply.html", {id: tpcId}, function(rtn) {
				if(!rtn.success) {
					window.alert("同步失败-" + rtn.respDesp);
				}
			});
		}
	});
	
	/** 删除 */
	$("button").click(function(e) {
		var btnId = $(this).attr("id");
		if(btnId.indexOf("btn-delete-") == 0) {
			e.preventDefault();
			var tpcId = $(this).data("tpcid");
			console.log("TpcDelete-BtnID: " + btnId + ", TpcID: " + tpcId);
			
            if (window.confirm("主题[" + tpcId + "]删除操作不可撤销，确定执行吗？")){
            	jQuery.post("$ctx/admin/topic/delete.html", {id: tpcId}, function(e) {
					$("#topic-form").submit();
				});
            }
		}
	});

});
</script>
<div class="well well-small">
    <form id="topic-form" name="topic-form" class="form-inline" method="GET" #StyleMB0()>
		<input type="hidden" id="formCatg" name="formCatg" value="$!form.formCatg" />
        <div class="btn-group">
            <button id="btn-fuzzy" class="btn btn-info">模糊</button>
            <button id="btn-single" class="btn btn-info">单笔</button>
        </div>
		<div class="pull-right">
    		<div id="form-single">
    			<input type="text" id="tpcId" name="tpcId" value="$!form.tpcId" class="input-medium" placeholder="主题ID" />
				<button type="submit" id="btn-single-query" class="btn btn-success">单笔查询</button>
    		</div>
			<div id="form-fuzzy">
				<select id="tpcState" name="tpcState" class="input-small">
					<option value="">状态</option>
        			#formSelectOptions($EnumXHelper.toTopicStateMap(), $!form.tpcState)
        		</select>
				<select id="tpcTop" name="tpcTop" class="input-small">
					<option value="">置顶</option>
        			#formSelectOptions($EnumXHelper.toTrueFalseMap(), $!form.tpcState)
        		</select>
				<select id="tpcTop" name="tpcReply" class="input-small">
					<option value="">评论</option>
        			#formSelectOptions($EnumXHelper.toTrueFalseMap(), $!form.tpcState)
        		</select>
				<select id="tpcTop" name="tpcFrom" class="input-small">
					<option value="">原创</option>
        			#formSelectOptions($EnumXHelper.toTrueFalseMap(), $!form.tpcState)
        		</select>
				<input type="hidden" id="page" name="page" value="$!form.page" />
				<input type="hidden" id="catgCatg" name="tpcCatg" value="$!form.tpcCatg" />
				<div class="input-append">
        			<input type="text" id="catgText" name="tpcCatgText" value="$!form.tpcCatgText" class="input-small" readonly="readonly" placeholder="分类名称" />
        			<button id="btnSelectCatg" class="btn btn-success" type="button">选择分类</button>
                </div>
				<input type="text" id="tpcTitle" name="tpcTitle" value="$!form.tpcTitle" class="input-medium" placeholder="标题" />
				<button type="submit" id="btn-fuzzy-query" class="btn btn-success">模糊查询</button>
    		</div>
        </div>
    </form>
</div>
#parse("/admin/inc/inc-tpc-pagination.vm")
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th><div class="text-center">#</div></th>
			<th><div class="text-center">状态</div></th>
			<th>标题</th>
			<th><div class="text-center">更新时间</div></th>
			<th><div class="text-center">操作</div></th>
		</tr>
	</thead>
	<tbody>
#foreach($topic in $PageList.items)
		<tr>
			<td><div class="text-center">$topic.id</div></td>
            <td><div class="text-center #if($topic.state=='T') color-green #elseif($topic.state=='F') color-red #end">$EnumXHelper.toTopicStateEnum($topic.state).desp()</div></td>
			<td>[$CatgXHelper.findName($topic.catg)] <a href="$ctx/topic/${topic.catg}-${topic.id}.html" target="_blank">${topic.title}</a></td>
			<td><div class="text-center">$DateUtils.toStringDL($topic.gmtModify)</div></td>
			<td><div class="pull-right">
			#if($topic.catg == "album")
				<a class="btn btn-info" href="$ctx/admin/album/update-${topic.id}.html">编辑</a>
			#else
				<a class="btn btn-info" href="$ctx/admin/topic/update-${topic.id}.html">编辑</a>
			#end
				<button type="button" id="btn-sync-${topic.id}" class="btn btn-success" data-tpcid="${topic.id}">同步</button>
				<button type="button" id="btn-delete-${topic.id}" class="btn btn-danger" data-tpcid="${topic.id}">删除</button>
			</div></td>
		</tr>
#end
	</tbody>
</table>
#parse("/admin/inc/inc-tpc-pagination.vm")
<div class="space-span"></div>