#set($title="新增主题 - 主题管理")
#set($catgMenuBody=true)
<script type="text/javascript">
$(document).ready(function() {
	UE.getEditor("tpcContent");
	
	var toggleFormBlock = function(labelId, blockId) {
		$("#" + labelId).click(function(e) {
    		if($("#" + blockId).hasClass("hide")) {
    			$("#" + blockId).removeClass("hide");
    			$(this).children("span").attr("class", "icon-chevron-down");
    		} else {
    			$("#" + blockId).addClass("hide");
    			$(this).children("span").attr("class", "icon-chevron-right");
    		}
    	});
	};
	
	toggleFormBlock("label-meta", "meta");
	toggleFormBlock("label-link", "link");
	toggleFormBlock("label-media", "media");
	toggleFormBlock("label-summary", "tpcSummary");
	
	$("#topic-form").submit(function(e) {
		e.preventDefault();
		ajaxRquest({
    		form: "topic-form",
    		url: "$ctx/admin/topic/create.htm"
    	});
	});
});
</script>
<form id="topic-form" name="topic-form" class="form-horizontal" #MarginBottomNO()>
	<ul class="breadcrumb">
    	<li><span class="divider">/</span></li>
    	<li>后台管理</li>
		<li><span class="divider">/</span></li>
		<li>主题管理</li>
		<li><span class="divider">/</span></li>
    	<li class="active">新增主题</li>
    </ul>
	<input type="hidden" id="catgCode" name="tpcCatg" value="0" />
	<div class="control-group">
		<label for="catgText"><span class="icon-chevron-right"></span><strong>分类</strong>-必输项！</label>
		<div class="input-append">
			<input type="text" id="catgName" name="tpcCatgName" class="span12" readonly="readonly" placeholder="分类名称" />
			<button id="btnSelectCatg" class="btn btn-info" type="button">选择</button>
        </div>
	</div>
	<div class="control-group">
		<label for="tpcTitle"><span class="icon-chevron-right"></span><strong>标题</strong>-必输项！</label>
		<input id="tpcTitle" name="tpcTitle" class="span12" type="text" required="required" />
	</div>
	
	<div class="control-group">
		<label for="nothing" id="label-meta"><span class="icon-chevron-right"></span><strong>元数据</strong>-留空则为默认！</label>
        <div id="meta" name="meta" class="hide form-inline">
            <label for="tpcStateFlag">状态</label>
            <select id="tpcStateFlag" name="tpcStateFlag" class="input-small">
    			#formSelectOptions($EnumWebX.toTopicStateMap(), "")
    		</select>
			<label for="tpcTopFlag">置顶</label>
            <select id="tpcTopFlag" name="tpcTopFlag" class="input-small">
    			#formSelectOptions($EnumWebX.toValveBoolMap(), "")
    		</select>
			<label for="tpcReplyFlag">评论</label>
			<select id="tpcReplyFlag" name="tpcReplyFlag" class="input-small">
    			#formSelectOptions($EnumWebX.toTopicReplyMap(), "")
    		</select>
		</div>
	</div>
	<div class="control-group">
		<label for="nothing" id="label-link"><span class="icon-chevron-right"></span><strong>内容引用</strong>-留空则为原创！</label>
        <div id="link" name="link" class="hide form-inline">
			<label for="tpcLinkFlag">原创</label>
			<select id="tpcLinkFlag" name="tpcLinkFlag" class="input-small">
    			#formSelectOptions($EnumWebX.toValveBoolMap(), "")
    		</select>
			<input id="tpcLinkUrl" name="tpcLinkUrl" type="url" class="span10" placeholder="原创或引用地址" />
		</div>
	</div>
	<div class="control-group">
		<label for="nothing" id="label-media"><span class="icon-chevron-right"></span><strong>多媒体</strong>-留空则为普通类型！</label>
        <div id="media" name="media" class="hide form-inline">
			<label for="tpcMediaFlag">多媒体</label>
			<select id="tpcMediaFlag" name="tpcMediaFlag" class="input-small">
    			#formSelectOptions($EnumWebX.toTopicMediaMap(), "")
    		</select>
			<input id="tpcMediaUrl" name="tpcMediaUrl" type="text" class="span10" placeholder="多媒体地址" />
		</div>
	</div>
	<div class="control-group">
		<label for="nothing" id="label-summary"><span class="icon-chevron-right"></span><strong>主题描述</strong>-留空则截取主题内容！</label>
		<textarea rows="2" id="tpcSummary" name="tpcSummary" class="span12 hide" placeholder="留空则截取主题内容"></textarea>
	</div>
	<div class="control-group">
		<label for="content"><span class="icon-chevron-right"></span><strong>主题内容</strong>-必输项！</label>
		<div>
			<textarea id="tpcContent" name="tpcContent" class="span12" style="height: 150px" required="required"></textarea>
		</div>
	</div>
	<div>
		<button type="submit" class="btn btn-primary">提交保存</button>
	</div>
	<div class="clearfix"></div>
</form>
#parse("/admin/inc/inc-ueditor.vm")
