#set($title="修改用户 - 用户管理")
#set($user=$UserXHelper.findByUID($userId))
<script type="text/javascript">
	$(document).ready(function() {
		var _url = "$ctx/admin/user/update-${user.id}.html";
		
		$("#user-form").submit(function(e) {
			e.preventDefault();
			jQuery.ajax({
				type: "POST",
				dataType: "json",
				url: _url,
				data: $("#user-form").serialize(),
				beforeSend: function() {
					fadeProgressModal(true);
				},
				success: function(result) {
					fadeProgressModal(false);

					if(result.success) {
						fadeSuccessModal(result);
					} else {
						fadeFailureModal(result);
					}
				}
			});
		});
	});
</script>
<form id="user-form" name="user-form" class="form-horizontal" #MarginBottomNO()>
	<ul class="breadcrumb">
    	<li><span class="divider">/</span></li>
    	<li>后台管理</li>
		<li><span class="divider">/</span></li>
    	<li id="form-opt-name">修改用户</li>
    </ul>
	<div class="control-group">
		<label for="title"><span class="icon-chevron-right"></span>用户名:</label>
		<input id="uname" name="uname" class="span12" type="text" value="$user.uname" readonly="readonly" />
	</div>
	<div class="control-group">
		<label for="title"><span class="icon-chevron-right"></span><strong>密码</strong>-必输项！</label>
		<input id="passwd" name="passwd" class="span12" type="password" required="required" />
	</div>
	<div class="control-group">
		<label for="title"><span class="icon-chevron-right"></span><strong>确认密码</strong>-必输项！</label>
		<input id="passwd2" name="passwd2" class="span12" type="password" required="required" />
	</div>
	<div class="control-group">
		<label for="title"><span class="icon-chevron-right"></span><strong>电子邮箱</strong>-必输项！</label>
		<input id="uemail" name="uemail" class="span12" type="email" value="$user.uemail" required="required" placeholder="obullxl@gmail.com" />
	</div>
	<div>
		<button type="submit" class="btn btn-primary">提交保存</button>
	</div>
	<div class="clearfix"></div>
</form>
