<div class="container">
	<div class="row">
		<div class="span8">
            <ul class="thumbnails">
            	<li class="span2">
            		<a href="#" class="thumbnail">
            			<img alt="" src="/public/upload/Profile-BIG.jpg" />
            		</a>
            	</li>
            	<li class="span2">
            		<a href="#" class="thumbnail">
            			<img alt="" src="/public/album/wallpaper/00.jpg" />
            		</a>
            	</li>
            	<li class="span2">
            		<a href="#" class="thumbnail">
            			<img alt="" src="/public/album/wallpaper/01.jpg" />
            		</a>
            	</li>
            	<li class="span2">
            		<a href="#" class="thumbnail">
            			<img alt="" src="/public/album/wallpaper/02.jpg" />
            		</a>
            	</li>
            	<li class="span2">
            		<a href="#" class="thumbnail">
            			<img alt="" src="/public/album/wallpaper/03.jpg" />
            		</a>
            	</li>
            </ul>
        </div>
		<div class="span4">
			#parse("/$ThemeXHelper.findTheme()/inc/inc-catg-slide.vm")
		</div>
    </div>
</div>