<div class="container">
	<div class="row">
		<div class="span8">
			#showAds("itop")
			<div class="radius-block">
    			<ul class="thumbnails">
                #set($PageList=$TopicXHelper.findPage($catg, $page))
                #foreach($topic in $PageList.items)
                	#parse("/$ThemeXHelper.findTheme()/inc/inc-album-list.vm")
    			#end
                </ul>
			</div>
			#showAds("ibottom")

#set($pager=$PageList.pager)
#if($pager.totalCount>0)
	#set($pages=$pager.getSlider(11))
				<div class="pagination">
	#foreach($idx in $pages)
		#if($pager.isDisabledPage($idx))
				<span class="page-numbers current">$idx</span>
		#else
				<a class="page-numbers" href="$ctx/index-${catg}-${idx}.html">$idx</a>
		#end
	#end
			</div>
#end
			</div>
		<div class="span4">
			#parse("/$ThemeXHelper.findTheme()/inc/inc-catg-slide.vm")
		</div>
	</div>
</div>