<div class="blog">
	<div class="container">
		<div class="row">
			<div class="span8">
				#showAds("itop")
#set($PageList=$TopicXHelper.findPage($catg, $page))
#foreach($topic in $PageList.items)
				<div class="entry">
					<h4>
						[<a href="$ctx/index-${topic.catg}-1.html">$EnumXHelper.toTopicCatgEnum($topic.catg).desp()</a>] <a href="./topic/${topic.catg}-${topic.id}.html" rel="bookmark">$topic.title</a>
					</h4>
					<p>$topic.summary [&hellip;]</p>
					<div class="clearfix"></div>
					<p class="meta">
						<i class="icon-calendar"></i>$DateUtils.toStringDL($topic.gmtModify)
						- <i class="icon-comment"></i><a href="$ctx/topic/${topic.catg}-${topic.id}.html#respond">${topic.reply}</a>
						- <i class="icon-film"></i>${topic.visit}
						<a href="$ctx/topic/${topic.catg}-${topic.id}.html" class="pull-right readmore">阅读全文 &raquo;</a>
					</p>
					<div class="clearfix"></div>
				</div>
#end
				#showAds("ibottom")
#set($pager=$PageList.pager)
#if($pager.totalCount>0)
	#set($pages=$pager.getSlider(11))
				<div class="pagination">
		#foreach($idx in $pages)
			#if($pager.isDisabledPage($idx))
					<span class="page-numbers current">$idx</span>
			#else
					<a class="page-numbers" href="$ctx/index-${catg}-${idx}.html">$idx</a>
			#end
		#end
				</div>
#end
			</div>
			<div class="span4">
				#parse("/$ThemeXHelper.findTheme()/inc/inc-catg-slide.vm")
			</div>
		</div>
	</div>
</div>
