<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
            <ul class="nav nav-pills">
            	<li id="catg-module"><a href="/mngt/catg-module.htm">模块</a></li>
        		<li id="catg-forum" class="active"><a href="/mngt/catg-forum.htm">论坛</a></li>
            </ul>
		</div>
    </div>
</div>