#set($layout="/mngt/layout/index-foot.vm")
<table cellpadding="3" cellspacing="0" width="100%" height="100%" style="width:100%;height:100%">
	<tr>
		<td>&nbsp;</td>
		<td><div class="pull-right">登录同步<span id="tickTime" class="hide"></span>：</div></td>
		<td width="60"><strong><div id="tickMsg" class="text-success">正常</div></strong></td>
    </tr>
</table>