<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ATOM-TOPIC">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    
    <!-- result maps for database table atom_topic -->
    <resultMap id="RM-TOPIC" type="TopicDTO">
        <result property="id" column="id" javaType="java.lang.String" />
        <result property="state" column="state" javaType="java.lang.String" />
        <result property="catg" column="catg" javaType="long" />
        <result property="tflag" column="tflag" javaType="java.lang.String" />
        <result property="rflag" column="rflag" javaType="java.lang.String" />
        <result property="rfrom" column="rfrom" javaType="java.lang.String" />
        <result property="mflag" column="mflag" javaType="java.lang.String" />
        <result property="mpath" column="mpath" javaType="java.lang.String" />
        <result property="mcount" column="mcount" javaType="long" />
        <result property="treply" column="treply" javaType="java.lang.String" />
        <result property="visit" column="visit" javaType="long" />
        <result property="reply" column="reply" javaType="long" />
        <result property="title" column="title" javaType="java.lang.String" />
        <result property="summary" column="summary" javaType="java.lang.String" />
        <result property="content" column="content" javaType="java.lang.String" />
        <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" />
        <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" />
    </resultMap>


	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->
	<sql id="findFuzzy-WHERE">
		<where>
			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="state != null">
				AND state=#{state}
			</if>
			<if test="catgs != null">
				AND catg IN
				<foreach item="itm" index="idx" collection="catgs" open="(" separator="," close=")">#{itm}</foreach>
			</if>
			<if test="title != null">
				AND title LIKE #{title}
			</if>
		</where>
	</sql>


	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->



    <!-- ============================================= -->
    <!-- mapped statements for MyBatisTopicDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisTopicDAO.insert -->
    <insert id="insert">
        INSERT INTO atom_topic(
				id, state, catg, tflag, rflag, rfrom, mflag, mpath, mcount, treply, visit, reply, title, summary, content, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{state}, #{catg}, #{tflag}, #{rflag}, #{rfrom}, #{mflag}, #{mpath}, #{mcount}, #{treply}, #{visit}, #{reply}, #{title}, #{summary}, #{content,jdbcType=VARCHAR}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisTopicDAO.find -->
    <select id="find" resultMap="RM-TOPIC" >
    <![CDATA[
        select * from atom_topic where (id = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findAll -->
    <select id="findAll" resultMap="RM-TOPIC" >
    <![CDATA[
        select * from atom_topic
    ]]>
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findCatgOne -->
    <select id="findCatgOne" resultMap="RM-TOPIC" >
        SELECT * FROM atom_topic WHERE catg=#{value} LIMIT 1
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findCatgPage -->
    <select id="findCatgPage" resultMap="RM-TOPIC" >
        SELECT * FROM atom_topic
				<if test="catg != null">
					WHERE catg=#{catg}
				</if>
			ORDER BY id DESC
			LIMIT #{offset},#{limit}
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findCatgPageCount -->
    <select id="findCatgPageCount" resultType="long" >
        SELECT COUNT(*) FROM atom_topic
				<if test="value != null">
					WHERE catg=#{value}
				</if>
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findFuzzy -->
    <select id="findFuzzy" resultMap="RM-TOPIC" >
        SELECT * FROM atom_topic
				<include refid="findFuzzy-WHERE" />
			ORDER BY id DESC
			LIMIT #{offset},#{pageSize}
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findFuzzyCount -->
    <select id="findFuzzyCount" resultType="long" >
        SELECT COUNT(*) FROM atom_topic
				<include refid="findFuzzy-WHERE" />
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findTopVisit -->
    <select id="findTopVisit" resultMap="RM-TOPIC" >
        SELECT * FROM atom_topic
				<if test="catg != null">
					WHERE catg=#{catg}
				</if>
			ORDER BY visit DESC
			LIMIT 0,#{size}
    </select>

    <!-- mapped statement for MyBatisTopicDAO.findTopReply -->
    <select id="findTopReply" resultMap="RM-TOPIC" >
        SELECT * FROM atom_topic
				<if test="catg != null">
					WHERE catg=#{catg}
				</if>
			ORDER BY reply DESC
			LIMIT 0,#{size}
    </select>

    <!-- mapped statement for MyBatisTopicDAO.update -->
    <update id="update" >
        UPDATE atom_topic SET catg=#{catg}, tflag=#{tflag}, rflag=#{rflag}, rfrom=#{rfrom}, mflag=#{mflag}, mpath=#{mpath}, treply=#{treply}, title=#{title}, summary=#{summary}, content=#{content,jdbcType=VARCHAR}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisTopicDAO.updateVisit -->
    <update id="updateVisit" >
        UPDATE atom_topic SET visit=visit+#{count}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisTopicDAO.updateReply -->
    <update id="updateReply" >
        UPDATE atom_topic SET reply=reply+#{count}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisTopicDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from atom_topic where (id = #{value})
    ]]>
    </delete>

</mapper>
