<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ATOM-USER">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    
    <!-- result maps for database table atom_user -->
    <resultMap id="RM-USER" type="UserDTO">
        <result property="id" column="id" javaType="long" />
        <result property="uname" column="uname" javaType="java.lang.String" />
        <result property="passwd" column="passwd" javaType="java.lang.String" />
        <result property="uemail" column="uemail" javaType="java.lang.String" />
        <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" />
        <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" />
    </resultMap>


	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->
	<sql id="abc">
		abc
	</sql>

	<sql id="abcefg">
	<![CDATA[
		abcefg<efg & abcefg>abc
	]]>
	</sql>


	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->
	<resultMap id="RM-UNAME" type="java.lang.String">
		<result property="uname" column="uname" javaType="java.lang.String" />
	</resultMap>


    <!-- ============================================= -->
    <!-- mapped statements for MyBatisUserDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisUserDAO.insert -->
    <insert id="insert">
        INSERT INTO atom_user(
				id, uname, passwd, uemail, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{uname}, #{passwd}, #{uemail}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisUserDAO.count -->
    <select id="count" resultType="long" >
    <![CDATA[
        select COUNT(*) from atom_user
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserDAO.find -->
    <select id="find" resultMap="RM-USER" >
    <![CDATA[
        select * from atom_user where (id = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserDAO.findAll -->
    <select id="findAll" resultMap="RM-USER" >
    <![CDATA[
        select * from atom_user
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserDAO.findName -->
    <select id="findName" resultMap="RM-UNAME" >
    <![CDATA[
        select uname from atom_user
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserDAO.findByName -->
    <select id="findByName" resultMap="RM-USER" >
    <![CDATA[
        select * from atom_user where (uname = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisUserDAO.update -->
    <update id="update" >
        UPDATE atom_user SET passwd=#{passwd}, uemail=#{uemail}, gmt_modify=NOW() WHERE uname=#{uname}
    </update>

    <!-- mapped statement for MyBatisUserDAO.updatePasswd -->
    <update id="updatePasswd" >
        UPDATE atom_user SET passwd=#{passwd}, gmt_modify=NOW() WHERE uname=#{uname}
    </update>

    <!-- mapped statement for MyBatisUserDAO.updateUEmail -->
    <update id="updateUEmail" >
        UPDATE atom_user SET uemail=#{uemail}, gmt_modify=NOW() WHERE uname=#{uname}
    </update>

    <!-- mapped statement for MyBatisUserDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from atom_user where (uname = #{value})
    ]]>
    </delete>

</mapper>
